.newmovies {
	&__img {
		display: flex;
		width: 100%;
		a {
			margin-top: auto;
			margin-left: auto;
		}
	}
	&__wrapper {
		display: flex;
	}
	&__title {
		padding-top: 111px;
		&-h1 {
			min-width: 800px;
		}
		&-p {
			margin-top: 30px;
		}
		&-h2 {
			padding-top: 60px;
		}
	}

	&__slider {
		margin-top: 15px;
	}
	&__slide {
		&-img {
			padding: 30px 30px;
		}
		&-h2 {
			padding: 30px 30px;
		}
	}
	&__slides {
		display: flex;
	}
	&__slides-prev {
		margin-top: 200px;
		margin-left: -54px;
		margin-right: 25px;
	}
	&__slides-next {
		margin-top: 200px;
		margin-left: 25px;
		margin-right: -54px;
	}
}
