.promo {

	&__info {
		display: flex;
	}

	&__info-title {
		padding-top: 150px;
		&-p {
			margin-top: 30px;
		}
	}

	&__free{
		display: flex;

	}
	&__free-img{
		width: 125px;
		height: 153px;
	}
	&__free-one {
		display: flex;
		
	}

	&__free-info {
		padding-top: 30px;
		margin-left: 25px;
		&-p {
			margin-top: 15px;
			
		}
	}
	button{
		margin-top: 35px;
		padding-left: 50px;
		min-width: 280px;
		min-height: 56px;
		
	}
	.button-img {
		padding-left: 40px;

	}
	&__free-promo {
		margin-left: 53px;
		display: flex;
		
	}
}
