* {
	margin: 0;
}

.container {
	margin-left: 100px;
	margin-right: 100px;
}
body {
	background: #0A0500;
	overflow-x: hidden;
	align-items: center;
}
.blure{
	height: 7.4rem;
	background-image: linear-gradient(180deg, transparent,rgb(10, 5, 0), #0A0500);
}