.catalog {
	&__items {
		padding-top: 100px;
		margin-left: 30px;
	}

	&__items-filter {
		.active{
			opacity: 1;
		}
		display: flex;
		h2 {
			font-family: "Gotham Pro Bold";
			font-size: 20px;
			line-height: 116.2%;
			color: #ffffff;
			margin-right: 30px;
		}
		b {
			cursor: pointer;
			margin-top: 3px;
			margin-left: 30px;
			font-family: "Gotham Pro";
			font-size: 18px;
			line-height: 116.2%;
			color: #ffffff;
			opacity: 0.7;
		}
	}
	&__items-content {
		display: grid;
		grid-template-columns: 240px 240px 240px 240px;
		grid-column-gap: 10px;
		grid-row-gap: 20px;
	}
	&__items-pagination {
		padding-top: 65px;
		display: flex;
		margin-left: auto;
		float: right;
		align-items: center;
		height: 40px;
		li {
			padding-top: 15px;
			width: 40px;
			height: 40px;
			cursor: pointer;
			font-family: "Gotham Pro";
			text-align: center;
			list-style: none;
			font-size: 18px;
			color: #ffffff;
		}
		.active {
			padding-top: 12px;
			font-weight: 900;
			font-size: 24px;
			background: linear-gradient(90deg, #ff2828 0%, #ac061f 100%);
			border-radius: 5px;
		}
	}
	&__items-sort {
		margin-top: 30px;
		
		&-h2 {
			padding: 0 30px;
			padding-top: 30px;
			
		}
		&-h3 {
			padding: 0 30px;
			margin-top: 20px;
		}
	}
}
