
.header {
	background: url("../../image/header1440.jpg") no-repeat;
	object-fit: contain;
	&__container {
		padding-top: 110px;
		display: flex;
	}

	&__content {
		min-width: 656px;
		&-h1{
			font-family: "Gotham Pro Black";
			font-size: 70px;
			line-height: 110%;
			color: #ffffff;
		}
		&-p {
			min-width: 420px;
			margin-top: 40px;
			font-family: "Gotham Pro";
			font-size: 18px;
			line-height: 160%;
			color: #ffffff;
		}
	}

	&__btn {
		margin-top: 50px;
	}

	&__promo {
		display: flex;
		padding-top: 150px;
		transition: 0.6s;
		transform: translateX(60%);
	}

	&__promo-sale {
		background: url("../../image/promo.png") no-repeat;
		min-width: 263px;
		min-height: 239px;
		object-fit: contain;
		margin-right: 30px;

		&:nth-child(2) {
			margin-right: 0;
		}
		&-h2 {
			margin-top: 60px;
		}
		&-p {
			margin-top: 15px;
		}
	}

	&__wrapper {
		margin-top: 70px;
		display: flex;
	}

	&__info {
		margin-right: 96px;
		margin-bottom: 40px;
		&:nth-child(3) {
			margin-right: 0;
		}
		min-width: 314px;
		&-h2 {
			margin-top: 25px;
			
		}
		&-p {
			margin-top: 20px;
			
		}
	}
}
@media (min-width: 1442px) {
	.header {
		background: url("../../image/header.jpg") no-repeat;
		object-fit: contain;
	}
}
@media (min-width: 1925px) {
	.header {
		background: url("../../image/header4k.jpg") no-repeat;
		object-fit: contain;
	}
}