.footer {
	background: #46090b;
	min-height: 283px;
	&__container {
		display: flex;
		justify-content: space-between;
		list-style: none;
	}

	&__logo {
		padding-top: 30px;
		display: inline-table;
		.foot-li {
			margin-top: 15px;
			line-height: 160%;
			&:nth-child(3) {
				margin-top: 85px;
			}
		}
	}

	&__nav {
		padding-top: 84px;
		.menu-li {
			cursor: pointer;
			padding-top: 20px;
			&:nth-child(1) {
				padding-top: 0;
			}
		}
	}

	&__help {
		padding-top: 84px;
		.foot-li {
			cursor: pointer;
			padding-top: 15px;

			&:nth-child(1) {
				padding-top: 0;
			}
		}
	}

	&__info {
		padding-top: 84px;
		text-align: right;
		&-span {
			font-family: "Gotham Pro";
			font-size: 20px;
			line-height: 110%;
			color: #ffffff;
		}
		&-h2 {
			padding-top: 20px;
			font-family: "Gotham Pro Medium";
			font-size: 20px;
			line-height: 110%;
			color: #ffffff;
		}
	}
}
